<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List (Bài 4)</title>
</head>
<body>
<h2>Product List</h2>
<form action="/product/save" method="post">
  <input name="name" placeholder="Enter name">
  <input name="price" placeholder="Enter price" type="number" step="0.01">
  <button>Save</button>
</form>
<ul>
  <li th:each="prod : ${products}" th:text="${'Name: ' + prod.name + ', Price: ' + prod.price}"></li>
</ul>
</body>
</html>